__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.venv-airflow/
.env
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.log
.DS_Store
data/*.csv
!data/.gitkeep
models/*.pkl
models/*.joblib
models/*.onnx
!models/.gitkeep
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py
airflow/*.cfg
